#titulo {

    text-align: center;
    font-family: cursive;
    height: 140px;
    opacity: 0.8;
    margin-top: -20px;
}

#titulo a {

    color: black;
    text-shadow: 4px 4px 3px gray;
    
}

.cabecalho {

    font-size: 80px;
    padding-top: 15px;
    text-decoration: none;
    
}

h1 {

    padding-top: 13px;
}


#inicio {

    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding:  0px 23%;
    font-size: 23px;
    
    
}

.tabela {
    
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.tabela:hover {

    color: white;
    background-color: black;
    height: 400px;
    width: 20px;
    border-radius: 20%;
    padding: 15px;
  
}


/* teste dos slides*/

.swiper{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    
}

.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 30%;
}

/**/

.content{
    align-items: center;
    justify-items: center;
    padding: 80px;
    background-color: black;
   
}

.gato {

    margin-left: 20px;
    border-top: 15px solid rgb(255, 255, 255);
    border-left: 15px solid  rgb(255, 255, 255);
    border-right:15px solid rgb(255, 255, 255);
    border-bottom: 30px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s;
}

.gato:hover{
    margin-top: -10px;
    border-bottom: 100px solid white;
    border-top: 15px solid white;
    border-left: 15px solid  white;
    border-right:15px solid white;
}

#hr_sub_tx{
    height: 50%;
    width: 20%;
}

.textoinicio {

    text-align: center;
    font-size: 15px;
    font-style: italic;
    justify-content: center;
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.cleitao{
    width: 400px;
    height: 500px;
    margin-left: 40px;
    border-top: 15px solid white;
    border-left: 15px solid  rgb(255, 255, 255);
    border-right:15px solid rgb(255, 255, 255);
    border-bottom: 30px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s;
    border-radius: 5px;
}

.cleitao:hover{
    margin-top: -10px;
    border-bottom: 100px solid white;
    border-top: 15px solid white;
    border-left: 15px solid  white;
    border-right:15px solid white;
}

.aranha {

    width: 400px;
    height: 500px;
    margin-left: 40px;
    border-top: 15px solid rgb(255, 255, 255);
    border-left: 15px solid  rgb(255, 255, 255);
    border-right:15px solid rgb(255, 255, 255);
    border-bottom: 30px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s;
    border-radius: 5px;
}  

.aranha:hover{
    margin-top: -10px;
    border-bottom: 100px solid white;
    border-top: 15px solid white;
    border-left: 15px solid  white;
    border-right:15px solid white;

}


button{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    margin-left: -90px;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

