/* Cabeçalho */
@import url(header.css);

/* Galeria  */

.conteudo {
  background-color: #f3f2ef;
  gap: 1rem;
  color: #333;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imagens {
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  border: 8px solid black;
  object-fit: cover;
}